<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DA_PhanMemBaiGiuXe.Properties.Settings.QL_BaiGiuXeConnectionString"
            connectionString="Data Source=LAPTOP-DSO8J3OR\SQLEXPRESS;Initial Catalog=QL_BaiGiuXe;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DA_PhanMemBaiGiuXe.Properties.Settings.QL_BaiGiuXeConnectionString1"
            connectionString="Data Source=DESKTOP-OCS8BFD\SQLEXPRESS;Initial Catalog=QL_BaiGiuXe;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DA_PhanMemBaiGiuXe.Properties.Settings.QL_BaiGiuXeConnectionString2"
            connectionString="Data Source=DESKTOP-H0R3HLD\SQLEXPRESS;Initial Catalog=QL_BaiGiuXe;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="DA_PhanMemBaiGiuXe.Properties.Settings.QL_BaiGiuXeConnectionString3"
            connectionString="Data Source=DESKTOP-5HAB20B;Initial Catalog=QL_BaiGiuXe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>