<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhanMemBaiGiuXeDAL.Properties.Settings.QL_BaiGiuXeConnectionString"
            connectionString="Data Source=DESKTOP-OCS8BFD\SQLEXPRESS;Initial Catalog=QL_BaiGiuXe;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>